<style>
div {
  border: 1px dotted pink;
}
</style>

<div class="container-fluid">
  <div class="container">
      <div class="row">
        <div class="col-sm-6 center">
          <h3>Did You Know?</h3>
          <p>{{ facts[0].tip }}</p>
        </div>
        <div class="col-sm-6 center">
          <h2>Drink More</h2>
          <h1>Water!</h1>
          <form (submit)="onSubmit()">
            <div class="row">
              <div class="col-sm-5">
                <h6>How much do you weigh?</h6>
                <input type="text" name="weight" [(ngModel)]="weight" class="form-control" />
                <p class="pt-0">{{weight | json}} oz of water</p>
              </div>
              <div class="col-sm-7">
                <h6>How often do you want us to remind you?</h6>
               <div class="row">
                <div class="col-3">Every</div>
                <div class="col-6 p-0 m-0"><input type="text" name="minutes" class="min form-control" /></div>
                <div class="col-3">minutes</div>
              </div>
            </div>

          </div>
        </form>
          <div class="center">
            <h5>* Keep this page open in your browser so we can remind you to drink water.</h5>
            <button class="btn btn-secondary">Set Timer</button>
          </div>
        </div>

      </div>
  </div> <!-- container div -->
</div>