

<div class="container-fluid">
  <div class="container">
      <div class="row">
        <div class="col-md-6 center column">
          <h3>Did You Know?</h3>
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <p>Losing as little as 2% of your body's water content can significantly impair physical performance.</p>
                  <img class="img-fluid" src="assets/bubbles-png-3.png">
                </div>
                <div class="carousel-item">
                    <p>Cartilage, found in joints and the disks of the spine, contains around 80 percent water. Long-term dehydration can reduce the joints' shock-absorbing ability, leading to joint pain.</p>
                    <img class="img-fluid" src="assets/bubbles-png-3.png">
                </div>
                <div class="carousel-item">
                    <p>Mild dehydration (fluid loss of 1-3%) can impair energy levels and mood, and lead to major reductions in memory and brain performance.</p>
                    <img class="img-fluid" src="assets/bubbles-png-3.png">
                </div>
                <div class="carousel-item">
                    <p>Saliva helps us digest our food and keeps the mouth, nose, and eyes moist. This prevents friction and damage. Drinking water also keeps the mouth clean. Consumed instead of sweetened beverages, it can also reduce tooth decay.</p>
                    <img class="img-fluid" src="assets/bubbles-png-3.png">
                </div>
              </div>
            </div>
          
        </div>
        <div class="col-md-6 center column">
          <h2>Drink More</h2>
          <h1>Water!</h1>
          <form (submit)="onSubmit()">
            <div class="row">
              <div class="col-sm-5">
                <h6>How much do you weigh?</h6>
                <input type="text" name="weight" [(ngModel)]="weight" class="form-control" />
                <p class="pt-0">{{weight | json}} oz of water</p>
              </div>
              <div class="col-sm-7">
               <h6>How often do you want us to remind you?</h6>
               <div class="row">
                <div class="col-3">Every</div>
                <div class="col-6 p-0 m-0"><input type="text" name="minutes" class="min form-control" (ngModelChange)="inputChange($event)" [ngModel]="min" /></div>
                <div class="col-3">minutes</div>
              </div>
            </div>

          </div>

          <div class="center">
            <h5>* Keep this page open in your browser so we can remind you to drink water.</h5>
            <button class="btn btn-secondary">Set Timer</button>
          </div>
        </form>
        </div>

      </div>
  </div> <!-- container div -->
</div>