* {
    border: 1px dotted pink;
}

html, body, .container, .container-fluid {
    min-height: 100% !important;
}
.container-fluid {
    background-color: #29abe2;
}
.center {
    text-align: center;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-item {
    height: 100%;
}

.carousel, .carousel-inner, .row, .column {
    height: 100%;
}

@media only screen and (max-width: 576px) {
    
    .row {
        height: 500px;
    }
}